

/********** Base styles **********/
* {
  box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
}

.inside {
  border: 1px solid rgb(0, 0, 0);
  background-color: #b6b4b4;
  margin-right: 0px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: rgb(92, 92, 92);
}

p{
    margin:20px;
}
.title1{
    font-family: 'Lora', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15%;
    text-align: right;
    background-color: rgb(24, 92, 3);
    border: 1px solid rgb(0, 0, 0);
    color:white;
    font-weight: bold;
    height: 30px;
    margin-top: 0px;
    margin-left: 60%;
    margin-right: 0px;
}

.title2{
    font-family: 'Lora', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15%;
    text-align: right;
    background-color: rgb(55, 31, 187);
    border: 1px solid rgb(0, 0, 0);
    color:white;
    font-weight: bold;
    height: 30px;
    margin-top: 0px;
    margin-left: 60%;
    margin-right: 0px;
}
.title3{
    font-family: 'Lora', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15%;
    text-align: right;
    background-color: rgb(194, 28, 50);
    border: 1px solid rgb(0, 0, 0);
    color:white;
    font-weight: bold;
    height: 30px;
    margin-top: 0px;
    margin-left: 60%;
    margin-right: 0px;
}

.row {
  width: 100%;
}

/*Large devices*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 0px;
    margin-top:5px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 0px ;
    margin-top:5px;

  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}



/** HEADER **/
#header-nav {
  background-color: #333333;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #collapsable-nav{
    text-align: center;
  
    background-color: #9b9b9b;

  }
  #nav-list{
    list-style-type: none;
  }


  /* End Header */

}
